
  @import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css');
  .icon-right{
    position: absolute;
    top: 30px;
}

.bar-top{
    position: relative;
   
    top: 10px;
}

.color-Calendario{
    background:#d42626;
}
.bt-chat{
    background: linear-gradient(to right, #55b242 0%, #418a33 100%);
}

.tamaño-Calendario{
    display: relative;
    height: 25%;
}

.tamaño-Imagen{

    height: 100%;

}


.buttonH {
    transition-duration: 0.4s;
  }
  
  .buttonH:hover {
    background-color: #ff13bd; /* Green */
    color: white;
  }



