@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);


.swiper-container {
  width: 280px;
  height: 410px;
  padding: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 410px;
}









.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}
/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-lock {
  display: none;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}
.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}
/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff;
}
.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25);
}
.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000;
}
.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25);
}
.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000;
}
.swiper-pagination-lock {
  display: none;
}
/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
 
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-scrollbar-lock {
  display: none;
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.swiper-slide-zoomed {
  cursor: move;
}
/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube {
  overflow: visible;
}
.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}
.swiper-container-flip {
  overflow: visible;
}
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
















.prueba-x{
  position: relative;
  width: 20em;
}
.prueba-xx{
  position: relative;
  right: -7%;
}
.videoFormacion{
  display: grid;
  height: 32em;
  
}

.foot-Informacion{
  position: relative;
  bottom: -1em; 
  right: -3%;
  z-index: 6;
  animation: back-to-docs 1.5s ease-in-out 0s infinite normal none running;
 
}



.ubicarCh{
  position: flex;
  bottom:  -3.5em;
  left: -3.5em;
}

.espaciobb{
  position: relative;
  left: 5%;
}
.espaciobbb{
  position: relative;
  left: 1%;
}
.videoFormacion2{
   display: grid;
   height: 18em;
   
 }
.colorFondo{
  background: black;
}
.calendarioF{
  position: relative;
 
  left: 25%;
}


.loaderOBJG{
  display: flex;
  height: 30em;
}


.loaderOBJ{
  display: flex;
  height: 19em;
}

.loaderOBJ2{
  display: flex;
  height: 7em;
}

.loaderOBJ3{
  display: flex;
  height:50em;
  width:100%;
}

.foot-chatH{
    position: fixed;
    margin: 0.5em;
    bottom: 7em; 
    right: 2%;
    width: 82em;
    z-index: 6;
    animation: back-to-docs 1.5s ease-in-out 0s infinite normal none running;
}

.foot-chatHX1{
  position: fixed;
  margin: 0.5em;
  bottom: 15%; 
  right: 1%;
  width: 82em;
  z-index: 6;
  animation: back-to-docs 1.5s ease-in-out 0s infinite normal none running;
}

.ppCambioColor{
  background: #32fc04;
}

.Cambioo2{
  position: relative;
  height: 33em;
 overflow: auto;
}

.Cambioof2{
  position: relative;
  height: 25em;
}

.Cambioo{
  position: relative;
  height: 32.5em;
}

.ui.embed {
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background: #dcddde;
  padding-bottom: 0;
}

.foot-chatX1{
  position: fixed;
  bottom: 0%; 
  right: 2%;
  z-index: 10;
  animation: back-to-docs 1.5s ease-in-out 0s infinite normal none running;
 
}

.foot-chat{
    position: fixed;
    bottom: -12%; 
    right: -7%;
    z-index: 3;
    animation: back-to-docs 1.5s ease-in-out 0s infinite normal none running;
   
}
.pie-PaginaR{
    position: relative;
    padding: 10%;
    left: 80%;
}


.aling-DerechaX2{
  position: relative;
  left: 42%;

}

.aling-Derecha2{
  position: relative;
  
  left: 20%;
}


.ui.secondary.pointing.menu {
  margin-left: 0;
  margin-right: 0;
  border-bottom: 2px solid rgb(240, 179, 87, 0.25);
}

.tamanoFormaciones{
  position: relative;
  overflow: auto;
  height: 26.5em;
}

.anchoFF{
  width: 28em;
  height: 40em;
}

.anchoFFX1{
  width: 20em;
  height: 30em;
}

.feedbackBT{
  position: fixed;
  bottom: 107em; 
  left: 17em;
    z-index: 10;
    animation: back-to-docs 1.5s ease-in-out 0s infinite normal none running;
}

.feedbackBTX1{
  position: fixed;
  bottom: 197em; 
  left: 14.3em;
    z-index: 10;
    animation: back-to-docs 1.5s ease-in-out 0s infinite normal none running;
}

.maximo-listEObj {
  position: relative;
  overflow: auto;
  height: 55em;
}

.maximo-listE {
  position: relative;
  overflow: auto;
  height: 47.5em;
}
.maximo-list {
  position: relative;
  overflow: auto;
  height: 22.0em;
}
.grid.container {
  margin-top: 5em;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.animationIntro {
  animation: animationIntro-spin 2S cubic-bezier(0.19, 1, 0.22, 1);
  animation-delay: 0s;
  animation-iteration-count: initial;
}

@keyframes animationIntro-spin {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    transition: opacity 2s linear;
    transform: scale(0.9);
  }
}

.animationIntro2 {
  animation: animationIntro2-spin 1S cubic-bezier(0.19, 1, 0.22, 1);
  animation-delay: 0s;
  animation-iteration-count: initial;
}

@keyframes animationIntro2-spin {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    transition: opacity 1s linear;
    transform: scale(1);
  }
}

.ocultarMenu {
  animation: ocultarMenu-spin 5S cubic-bezier(0.19, 1, 0.22, 1);
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes ocultarMenu-spin {
  from {
    background:#8000807a;
    transform: scale(1.3);
  }
  to {
    background:#800080;
    transform: translate(201%, 0%);
  }
}


.onboardingApp {
  animation: onboardingApp-spin  1.5s linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes onboardingApp-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    background: rgba(255, 245, 192, 0.99);
    transform: translateY(18em);
  }
}


.onboardingApp2 {
  animation: onboardingApp2-spin  2.5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  top: 18em;
}

@keyframes onboardingApp2-spin {
  from {
    transform: rotate(0deg);
    top: 1em;
  }
  to {
    background: rgba(255, 245, 192, 0.99);
    transform: translateY(-18em);
  }
}



.onboardingAppG {
  animation: onboardingAppG-spin 0.8S linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 4s;
 
}

.onboardingAppG :hover {
  transform: scale(1);
}

@keyframes onboardingAppG-spin {
  from {
    transform: scale(1);
  }
  to {
    background:#fbbd08;
    transform: translate(200%, 19em);
  }
}


.onboardingAppG1 {
  animation: onboardingAppG1-spin 0.8S linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes onboardingAppG1-spin {
  from {
    transform: scale(1);
  }
  to {
    background:#fbbd08;
    transform: translate(200%, 19em);
  }
}


.onboardingAppG2 {
  animation: onboardingAppG2-spin 0.8S linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes onboardingAppG2-spin {
  from {
    transform: scale(1);
  }
  to {
    background:#fbbd08;
    transform: translate(50%,0%);
  }
}
.onboardingAppG3 {
  animation: onboardingAppG3-spin 0.8S linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes onboardingAppG3-spin {
  from {
    transform: scale(1);
  }
  to {
    background:#fbbd08;
    transform: translate(110%, -240%);
  }
}

.onboardingAppG4 {
  animation: onboardingAppG4-spin 0.8S linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes onboardingAppG4-spin {
  from {
    transform: scale(1);
  }
  to {
    background:#fbbd08;
    transform: translate(110%, -250%);
  }
}

.onboardingAppG5 {
  animation: onboardingAppG5-spin 0.8S linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes onboardingAppG5-spin {
  from {
    transform: scale(1);
  }
  to {
    background:#fbbd08;
    transform: translate(120%, -4em);
  }
}


.actividadInmediata {
  animation: actividadInmediata-spin 0.8S cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 20s;
  animation-iteration-count: 14;
  animation-direction: alternate;

}

@keyframes actividadInmediata-spin {
  from {
    transform: scale(1);
  }
  to {
    background:linear-gradient(to right, rgb(181, 219, 25) 10%, rgb(255, 255, 255) 13%, rgb(206, 211, 249) 200%);
    box-shadow: rgb(46, 19, 61) 0.5px 0.5px 5px 0.5px;
    transform: translate(2%, -1em);
  }
}


.opcionesGestor {
  animation: opcionesGestor-spin 5s cubic-bezier(0.680, 0, 0.265, 1);
  animation-delay: 20s;
  animation-iteration-count: infinite;
}

@keyframes opcionesGestor-spin {
  from {
    transform: scale(1);
  }
  to {
    
    transform: translate(0.5em, 0.1em);
  }
}

.chatGestorAni {
  animation: chatGestorAni-spin 2s cubic-bezier(0.680, 0, 0.265, 1);
  animation-delay: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes chatGestorAni-spin {
 
 
  from {
    transform: scale(0.25);
  }
  to {
    background:linear-gradient(to right, rgb(240, 29, 194) 40%, rgb(255, 255, 255) 60%, rgb(133, 146, 248) 200%);
    transform: scale(0.27);

    
  }
}


.chatGestorAniCel {
  animation: chatGestorAni-spin 2s cubic-bezier(0.680, 0, 0.265, 1);
  animation-delay: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes chatGestorAni-spin {
  from {
    transform: scale(0.5);
  }
  to {
    background:linear-gradient(to right, rgb(240, 29, 194) 40%, rgb(255, 255, 255) 60%, rgb(133, 146, 248) 200%);
    transform: scale(0.57);

    
  }
}

.chatGestorAni2 {
  animation: chatGestorAni2-spin 2s cubic-bezier(0.680, 0, 0.265, 1);
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes chatGestorAni2-spin {
  from {
    transform: scale(0.25);
  }
  to {
    background:linear-gradient(to right, rgb(240, 156, 29) 40%, rgb(255, 255, 255) 60%, rgb(241, 132, 30) 200%);
    transform: scale(0.27);
    
  }
}


.chatGestorAni2Cel {
  animation: chatGestorAni2Cel-spin 2s cubic-bezier(0.680, 0, 0.265, 1);
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes chatGestorAni2-spin {
  from {
    transform: scale(0.5);
  }
  to {
    background:linear-gradient(to right, rgb(240, 156, 29) 40%, rgb(255, 255, 255) 60%, rgb(241, 132, 30) 200%);
    transform: scale(0.57);
    
  }
}


.chatGestorAni3 {
  animation: chatGestorAni3-spin 3s cubic-bezier(0.680, 0, 0.265, 1);
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}



@keyframes chatGestorAni3-spin {
  from {
    transform: scale(0.25);
  }
  to {
   
    transform: scale(0.26) rotateX('360');
    
  }
}




.chatGestorAni4 {
  animation: chatGestorAni4-spin 1s cubic-bezier(0.680, 0, 0.265, 1);
  animation-delay: 2s;
  animation-iteration-count: 12;
  animation-direction: alternate;
}

@keyframes chatGestorAni4-spin {
  from {
    transform: scale(0.25);
  }
  to {
   
    transform: scale(0.35) translate(-5em,-3.1em);
    background:linear-gradient(to bottom, rgb(240, 29, 229) 30%, rgb(255, 255, 255) 70%, rgb(133, 146, 248) 200%);
    
  }
}


.chatGestorAni4Cel {
  animation: chatGestorAni4Cel-spin 1s cubic-bezier(0.680, 0, 0.265, 1);
  animation-delay: 2s;
  animation-iteration-count: 12;
  animation-direction: alternate;
}



@keyframes chatGestorAni4Cel-spin {
  from {
    transform: scale(0.5);
  }
  to {
   
    transform: scale(0.65) translate(-5em,-3.1em);
    background:linear-gradient(to bottom, rgb(240, 29, 222) 30%, rgb(255, 255, 255) 70%, rgb(133, 146, 248) 200%);
    
  }
}




hr {
  border: 0;
  height: 1px;
  opacity: 0.5;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), white, rgba(255, 255, 255, 0.2));
}
/*
body {
  font-family: "quicksand";
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  letter-spacing: 0.5px;
  min-height: 100%;
  background: linear-gradient(to bottom, #474c4f 0%, #1f2c34 100%);
  background-repeat: no-repeat;
}
*/
.hide-ch {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
}

.app-wrapper {
  width: 100%;
  height: 44em;
  position: relative;
  overflow: hidden;
  z-index: 4000;
  border-radius: 30px;
  box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.35);
  margin-top: 3%;
  margin-left: 5%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.app-wrapperX1 {
  width: 80%;
  height: 34em;
  z-index: 4000;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.35);
  margin-top: 3%;
  margin-left: 5%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.link-ch {
  opacity: 0.7;
}

.active-link-ch {
  opacity: 1;
}

.menu-ch {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(to right, #fbbd08 0%, #f9eaca0a 100%);
  width: 108%;
  height: 60px;
 
  z-index: 10000;
}
.menu-ch ul {
  display: inline-flex;
}
.menu-ch ul i {
  font-size: 20px;
  margin-left: 28px;
  margin-right: 28px;
  color: white;
}
.menu-ch ul button {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  background: 0 none;
  border-radius: 50%;
  border: 1px solid white;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}
.menu-ch ul button:focus {
  outline: 0 none;
}
.menu-ch ul button i {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.contact-search-ch-wrapper-ch {
  position: relative;
  bottom: 1em;
  left: -1em;
  opacity: 1;
  height: 100px;
  width: 360px;
  background: linear-gradient(to right, #efa31a 10%, #f38226 80%);
}

.contact-search-ch {
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 20px;
  height: 2.5em;
  top: 2em;
  position: relative;
  font-size: 18px;
  border-radius: 20px;
  left: -2em;
  background-color: #fffff9;
  width: 60%;
  border-width: 0px;



}
.contact-search-ch:focus {
  outline: 0px;
}

.search-icon-ch {
  position: absolute;
  right: 0;
  margin-right: 70px;
  margin-top: 50px;
  color: white;
  font-size: 20px;
}

.flat {
  box-shadow: none !important;
}

.contact-thumbnail-ch {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: black;
  background-color:#b07a04c7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  font-weight: 700;
  box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.7);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.chatting-ch {
  position: relative;
  color: white;
  left: 30%;
  top: -1.5em;
 
}




.active-thumb-ch {
  -webkit-transform: scale(1.05);
          transform: scale(1.07);
}

.not-active-thumb-ch {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
  box-shadow: none !important;
}

.contact-list-ch {
  display: flex-column;
  position: absolute;
  margin-top: 50px;
  color:  rgba(0, 0, 0, 0);
  left: -3em;
  height: 520px;
  width: 120%;
  overflow-y: auto;
  overflow-x: hidden;
}
.contact-list-ch li {
  margin-bottom: 4px;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  color:(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.3);
}
.contact-list-ch .contact-name {
  font-weight: 400;
  position: absolute;
  right: 0;
  margin-top: -30px;
  color: black;
  background: 0 none;
  border: 0 none;
  font-size: 15px;
  letter-spacing: 1px;
  margin-right: 10px;
  cursor: pointer;
}
.contact-list-ch .contact-name:focus {
  outline: none;
}
.contact-list-ch .contact-name i {
  margin-left: 10px;
}

.user-chats-ch {
  width: 100%;
  
  color:rgba(0, 0, 0, 0);
  left: 0;
  background: linear-gradient(to right, #efa31a 10%, #f38226 80%);
  height: 80px;
  position: absolute;
  display: flex;
  align-items: center;


}
.user-chats-ch ul {
  display: flex;
}
.user-chats-ch ul li {
  margin: 5px;
  cursor: pointer;
}

.active-chat-ch {
  position: absolute;
  width: 100%;
  display: flex;
  margin-top: 90px;
  overflow: auto;
  height: 70%;
}
.active-chat-ch .active-name {
  position: absolute;
  width: 100%;
  margin-left: 1%;
  color: #1a191a;
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
}
.active-chat-ch ul {
    
  margin-top: 30px;
  margin-left: -40px;
}
.active-chat-ch ul div {
  margin: 10px;
}
.active-chat-ch ul li {
  font-weight: 350;
  display: inline-block;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  text-align: left;
  max-width: 170px;
  word-wrap: break-word;
  margin-top: 20px;
  box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.7);
}
.active-chat-ch ul .group {
  margin-top: -8px;
}
.active-chat-ch .contact-message {
  color: black;
  margin-left: 0px;
}
.active-chat-ch .contact-message li {
  margin-left: -5px;
}

.historico-padding{
  padding-left: 80%
}
.active-chat-ch .user-message {
  
  position: relative;
  left: 15%;
  width: 100%;
  display: flex;
}
.active-chat-ch .user-message li {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin-left: auto;
  box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.7), inset 10px 10px 20px -12px rgba(255, 255, 255, 0.3);
}
.active-chat-ch .user-message .thread-thumbnail-ch {
  display: none;
}

.thread-thumbnail-ch {
  display: inline-block;
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 700;
}
.message-input-chX1 {
  box-sizing: border-box;
  position: relative;
  top: 25.9em;
  width: 120%;
  left: 0px;
  height: 40px;
  border: 0 none;
  padding: 10px;
  padding-right: 50px;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  color: black;
  font-weight: 300;
}

.message-input-ch {
  box-sizing: border-box;
  position: relative;
  top: 0;

  width: 120%;
  left: 0px;
  height: 40px;
  border: 0 none;
  padding: 10px;
  padding-right: 50px;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  color: black;
  font-weight: 300;
}
.message-input-ch:focus {
  outline: 0px;
  background-color: white;
}

.send-button-ch {
  height: 38px;
  width: 40px;
  position: absolute;
  z-index: 4000;
  top: 1310%;
  left: 90%;
  font-size: 20px;
  text-align: center;
  border-radius: 10%;
  border: 0 none;
  color: rgba(0, 0, 0, 0.4);
  background: white;
  cursor: pointer;
}

.send-button-ch:focus {
  outline: 0px;
}

.settings-ch {
  height: 91%;
  background: white;
  padding: 20px;
  display: flex-column;
  text-align: center;
}
.settings-ch .settings-header {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.settings-ch .themes-header {
    color:black;
  font-size: 16px;
  padding-top: 20px;
}

.theme-button-ch {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 0px;
  margin: 5px;
  margin-top: 20px;
  box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.7), inset 10px 10px 20px -12px white;
  cursor: pointer;
  transition: all 0.2s ease;
}
.theme-button-ch:focus {
  outline: none;
}
.theme-button-ch:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.red {
  background: linear-gradient(to right, #ff4f38 0%, #bd3526 100%);
}

.orange {
  background: linear-gradient(to right, #fc7231 0%, #cc4d12 100%);
}
.yellow3 {
  background: linear-gradient(to right, #f2f8e3 20%, #cfa913 60%);
}

.yellow4 {
  background: linear-gradient(to right, #fffff9 0%, #fffffe 100%);
}

.yellow2 {
  background: linear-gradient(to right, #f2f8e3 0%, #fffffe 100%);
}

.yellow {
  background: linear-gradient(to right, #E7DB18 0%, #cfa913 100%);
}

.olive {
  background: linear-gradient(to right, #70ff54 0%, #32fc04 100%);
}

.green {
  background: linear-gradient(to right, #55b242 0%, #418a33 100%);
}

.blue {
  background: linear-gradient(to right, #aed5e4 0%, #334d7e 100%);
}

.purple {
  background: linear-gradient(to right, #fb8bb2 0%, #a65d78 100%);
}

.contact-card-ch {
  position: relative;
  margin-top: -20px;
  left: -12px;
  width: 108%;
  padding-top: 20px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.5);
}
.contact-card-ch .profile-pic {
  position: static;
  height: 180px;
  width: 180px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.5);
}
.contact-card-ch .profile-pic img {
  -webkit-filter: grayscale(100%) brightness(1.3);
          filter: grayscale(100%) brightness(1.3);
}
.contact-card-ch .card-buttons {
  position: absolute;
  right: 0px;
  top: 20px;
  width: 170px;
  display: flex-row;
}
.contact-card-ch .card-buttons button {
  margin-left: 15px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  height: 35px;
  width: 35px;
  border: none;
  background-color: white;
  border-radius: 50%;
  opacity: 0.9;
  box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.35);
}
.contact-card-ch .card-buttons button:focus {
  outline: none;
}
.contact-card-ch .online-status {
  position: absolute;
  right: 20px;
  top: 180px;
  color: white;
  font-size: 16px;
}
.contact-card-ch .online-status i {
  margin-right: 6px;
  -webkit-animation: flicker 0.1s infinite;
          animation: flicker 0.1s infinite;
}
.contact-card-ch .name-location {
  position: absolute;
  right: 20px;
  top: 90px;
  color: white;
  text-align: right;
}
.contact-card-ch h1 {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 5px;
}

.status-feed-ch {
  display: flow-root;
  height: 310px;
  width: 100%;
  color: white;
  font-size: 18px;
  text-align: center;
  overflow: auto;
}
.status-feed-ch h1 {
  font-size: 30px;
  font-weight: 800;
  margin: 20px;
}
.status-feed-ch hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.status-feed-ch li {
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 10px solid rgba(0, 0, 0, 0);
}
.status-feed-ch li .date {
  font-size: 10px;
}

@-webkit-keyframes flicker {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.7;
  }
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0.3;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.7;
  }
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0.3;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
